﻿.ipt{border: 1px solid #dadada;padding:1px 2px;line-height:22px;resize:none;}
.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 13px;
    line-height: 18px;
    *line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(top,#fff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

    .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
    }

    .btn:active, .btn.active {
        background-color: #ccc \9;
    }

    .btn:first-child {
        *margin-left: 0;
    }

    .btn:hover {
        color: #333;
        text-decoration: none;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
        background-position: 0 -15px;
        -webkit-transition: background-position .1s linear;
        -moz-transition: background-position .1s linear;
        -ms-transition: background-position .1s linear;
        -o-transition: background-position .1s linear;
        transition: background-position .1s linear;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn.active, .btn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	/* [disabled]-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05); */
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    }

    .btn.disabled, .btn[disabled] {
        cursor: default;
        background-color: #e6e6e6;
        background-image: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .btn-large [class^="icon-"] {
        margin-top: 1px;
    }

.btn-small {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
}

    .btn-small [class^="icon-"] {
        margin-top: -1px;
    }

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

    .btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
        color: rgba(255,255,255,0.75);
    }

.btn {
    border-color: #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-primary {
    background-color: #0074cc;
    *background-color: #05c;
    background-image: -ms-linear-gradient(top,#08c,#05c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#05c));
    background-image: -webkit-linear-gradient(top,#08c,#05c);
    background-image: -o-linear-gradient(top,#08c,#05c);
    background-image: -moz-linear-gradient(top,#08c,#05c);
    background-image: linear-gradient(top,#08c,#05c);
    background-repeat: repeat-x;
    border-color: #05c #05c #003580;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc',endColorstr='#0055cc',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        background-color: #05c;
        *background-color: #004ab3;
    }

    .btn-primary:active, .btn-primary.active {
        background-color: #004099 \9;
    }

.btn-warning {
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -ms-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(top,#fbb450,#f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

    .btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
        background-color: #f89406;
        *background-color: #df8505;
    }

    .btn-warning:active, .btn-warning.active {
        background-color: #c67605 \9;
    }

.btn-danger {
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -ms-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(top,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#bd362f',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

    .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
        background-color: #bd362f;
        *background-color: #a9302a;
    }

    .btn-danger:active, .btn-danger.active {
        background-color: #942a25 \9;
    }

.btn-success {
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -ms-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(top,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

    .btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
        background-color: #51a351;
        *background-color: #499249;
    }

    .btn-success:active, .btn-success.active {
        background-color: #408140 \9;
    }

.btn-info {
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -ms-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: linear-gradient(top,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        background-color: #2f96b4;
        *background-color: #2a85a0;
    }

    .btn-info:active, .btn-info.active {
        background-color: #24748c \9;
    }

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-warning {
    color: #fe9500;
    background-color: #f8d6a6;
    border-color: #eac188;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-primary {
    color: #0170b1;
    background-color: #b0cff2;
    border-color: #7eaadc;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

    .alert-block > p, .alert-block > ul {
        margin-bottom: 0;
    }

    .alert-block p + p {
        margin-top: 5px;
    }

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

    .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .4;
        filter: alpha(opacity=40);
    }

.tb,.tbform {
    border-collapse: collapse;
    border-spacing: 2px;
    white-space: nowrap;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 8px;
    font-size:15px;
} 

    table thead tr td {
        padding: 15px 0;
    }
    .tr {font-weight:bold;
		color:#04408C;
        font-size: 12px;
        border-color: #99bce8;
        border-width: 1px;
        border-style: solid;
		height:25px;
        background-image: none;
        background-color: #cbddf3;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#dae7f6),color-stop(45%,#cddef3),color-stop(46%,#abc7ec),color-stop(50%,#abc7ec),color-stop(51%,#b8cfee),color-stop(100%,#cbddf3));
        background-image: -webkit-linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
        background-image: -moz-linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
        background-image: -o-linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
        background-image: -ms-linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
        background-image: linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3);
        -webkit-box-shadow: #f4f8fd 0 1px 0 0 inset;
        -moz-box-shadow: #f4f8fd 0 1px 0 0 inset;
        box-shadow: #f4f8fd 0 1px 0 0 inset;
    }

    .tb th, .tb td,.tbform td,.tbform th{
        border: 1px solid #DEE1E6;
        padding: 0 10px;
    }

        .tb th, .tb td {
            max-width: 215px;
            TEXT-OVERFLOW: ellipsis;
            overflow: hidden;
        }

        .tb th {height:28px;
            background: #E7EBEF url(../image/header.png) repeat-x 0 0;
            border: #DEE1E6 1px solid;
        }

        .tb td {
            height: 22px;
        }

.thCss {
    background-color: #CCC;
}

.treven {
    background-color: #FFF;
}

.trodd ,.tbform .tdl{
    background-color:#F3F4F8;
}

.tractive {
    background-color: #E2ECF7;
}

.tb input, .tb textarea {
    width: 155px;
}

.tb .tdl {
    background: #efefef;
    color: #323D53;
} 
.tbform td,.tbform th{padding:3px 10px;max-width: none;}
tr.pager th{padding:5px 10px;}
tr.pager a{border:1px solid #CCC;margin:2px 3px;padding:3px 6px;cursor:pointer;background:#efefef;}
tr.pager a.current{cursor:default;background:#06C;color:#FFF;}
tr.pager a.navpage{cursor:default;border:none;background:none;}
tr.pager a.navpage:hover{cursor:default;border:none;background:none;color:#000;}
tr.pager a:hover{background:#06C;color:#FFF;}